*{
    margin: 0px;
    padding: 0px;

}

.navbar{
    display: flex;
    flex-direction:row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.list{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    color: white;
    justify-content: space-evenly;

}
#logo{
    color: white;
    margin-right: 10px;
}
.navlink{
    margin: 10px;
    text-decoration: none;
    color: white;
}
.image1{
    background-image: url(./images/Header\ section.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center;
    width: 1521px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.heading1{
    color: white;
    font-size: 150px;
    position: absolute;
    margin-left: 20px;
}
.btn1{
    background-color: aquamarine;
    padding: 10px;
    margin-top: 400px;
    margin-left: 20px;
}
.rectangle{
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    height: 40px;
}
.text{
     color: white;
     padding: 10px;
}
.container{
    display: flex;
    flex-direction: row;
}
.image2{
   
   background-image: url(./images/Title\ container.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 600px;
    width: 800px;

}
.text2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
}
.btn2{
    background-color: blue;
    color: white;
    padding: 10px;

}
.image3{
    background-image: url(./images/Title\ container.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: 600px;
    width: 800px;
}
.heading2{
    color: white;
    font-size: 150px;
    font-weight: 700;
}
.image4{
    width: 722px;
    height: 400px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.para3{
    align-content: center;
    font-size: 30px;
    font-weight: 700;
    margin-left: 30px;
}
.box1{
    width: 722px;
    height: 100px;
    background-color: rgb(191, 5, 182);
    margin-top: -10px ;
}
.p1{
    padding:15px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
}
.p2{
    padding: 10px;
}
.box2{
     width: 722px;
    height: 100px;
    background-color:blue;
    margin-top: -10px ;
}
#p4{
    font-size: 15px;
    font-weight: 200;
    margin-left: 30px;
    margin-top: 20px
}
#right{
    align-content: center;
}
.container3{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    align-items: start;
    gap: 20px;
}
.btn3{
     background-color: aquamarine;
    padding: 10px;
    margin-left: 350px;
}
.para5{
      margin-left: 350px;
      font-size: 30px;
      color: white;
      font-weight: 500;
}
.container4{
    display: flex;
    flex-direction:column;
    height: 800px;
    justify-content: space-between;
    background-color: aquamarine;
}
.box3{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 350px;
    gap: 400px
}
.box4{
    display: flex;
    flex-direction: row;
}
.para6{
    font-size: 60px;
    font-weight: 900;
    color: black;
    padding-left: 20px;

}
.sqr{
    width: 550px;
    height: 300px;
}
.b1{
    background-color: blue;
}
.b2{
    background-color: black;
}
.b3{
    background-color: rgb(186, 0, 207);
}
.link{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: white;
}
.link2{
     display: inline-block;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: black;
}